body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


html,body {
    height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

body{
    overflow-x: hidden;
}

header {
    background-color: #1877f2;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

}

header a:link,
header a:visited,
header a:hover,
header a:active {
    text-decoration: none;
    color: white;
}



header h1 {
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;     
    color: white;
}

nav button {
    background-color: white;
    color: #1877f2;
    border: none;
    padding: 8px 14px;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

nav button:hover {
    background-color: #e4e6eb;
}

.carrito-container {
  width: 90%;
  max-width: 900px;
  margin: 25px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.item:last-child {
  border-bottom: none;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.carrito-container button {
  border: none;
  padding: 7px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.btn-add {
  background: #1877f2;
  color: white;
}
.btn-sub {
  background: #999;
  color: white;
}
.btn-delete {
  background: #e53935;
  color: white;
}

.total-box {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
}

.actions {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn-finalizar {
  background: #43a047;
  color: white;
  padding: 12px 18px;
  font-size: 17px;
}

.btn-cancelar {
  background: #e53935;
  color: white;
  padding: 12px 18px;
  font-size: 17px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1877f2;
    color: white;
    font-size: 0.9rem;
    margin-top: 20px;
    /*esto es para que este abajo el footer de forma absoluta
    position: absolute;
    bottom: 0;
    left: 0;           
    width: 100%;*/

}