.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
}





.login-container button{
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    transition: background 0.2s;
}

.login-container button:hover{
    background-color: red;
}