<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercadito Virtual</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="navbar">
      <h1 class="logo">Mercadito Virtual</h1>
      <button id="btnCarrito" class="carrito-btn">
        🛒 <span id="contadorCarrito">0</span>
      </button>
    </header>

    <main class="contenedor-productos" id="listaProductos">
      <!-- Productos simulados se insertan con JS -->
    </main>

    <script src="script.js"></script>
  </body>
</html>
